h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 0px 0px 35px;
    text-align: center;
}

.logo {
    margin: 5px;
}

.inputCobol {
    font-family: courier;
    font-size: small;
    background-image: url(images/bg.gif);
    background-repeat: repeat;
    width: 665px;
    height: 480px;
    border: 0;
}

.outputXsd {
    width: 665px;
    height: 510px;
    border: 0;
}

.outputErrors {
    width: 665px;
    height: 510px;
    border: 0;
}

.cobolRuler {
    margin: 0px 2px 0px;
    font-family: courier;
    font-size: small;
}

.optionsForm {
    width: 320px;
    margin: 0px 10px 0px;
}

.htmlCopyright {
    padding: 10px 10px 10px 10px;
}

